name: Build Test

on:
  workflow_call:
  pull_request:
  push:
      
permissions:
  pull-requests: write
  issues: write
  repository-projects: write

jobs:
  fmt:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24

      - name: Check out code
        uses: actions/checkout@v5

      - name: Format
        run: go fmt

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24

      - name: Check out code
        uses: actions/checkout@v5

      - name: Install X
        run: sudo apt-get update && sudo apt-get install -y libgl1-mesa-dev xorg-dev

      - name: Build
        run: go build -o testapp

      - name: Bin
        uses: actions/upload-artifact@v4
        with:
          name: testapp
          path: ./testapp

